<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} || %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <root level="trace">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->

    <!-- set up the rule -->
<!--    <newRule pattern="configuration/slf4jBridgeHandler"-->
<!--             actionClass="com.tersesystems.logback.classic.SLF4JBridgeHandlerAction"/>-->

    <!-- calls removeHandlersForRootLogger / install -->
    <slf4jBridgeHandler/>


    <!-- Add Guice tracing -->
    <logger name="com.google.inject" level="TRACE"/>
    <logger name="sun.net.httpserver" level="TRACE"/>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>